body {
  margin:0;
  padding:0;
  background-color: #e5e5e5;
}
.container {
  margin-top: 10px;
  display: grid;
  align-content: center;
  grid-template-columns: 400px 700px;
  grid-template-rows: 50px 100px 100px 100px 100px 100px 100px 100px 100px 100px  100px 100px 100px 100px;
  grid-template-areas: "details details"
  "nav nav"    ;
  grid-gap:1px;
}
.container::before {
  content: none;
}
#buscador {
  position: relative;
  left:120px;
  top:32px;
}
#crear-contacto {
  position: relative;
  left:1095px;
  background-color: #fab43d;
  color:white;
  border-radius: 8%;
}
.container div {
  border: 1px solid grey;
  background-color: white;
  position: relative;
}
.container div:hover .eliminar {
  display:inline;
}

/*.container div p {*/
  /*display: inline;*/
  /*position: relative;*/
/*}*/

.images {
  position: relative;
  top:5px;
  width:80px;
  height:80px;
  border-radius: 50%;
  left:25px;
}
/*	div:nth-of-type(1) {
        grid-area: details;
        box-shadow: 0 10px 100px #E6E6E6;

    }*/
.nombre-descripcion{
  grid-area: details;
  box-shadow: 0 10px 100px #E6E6E6;
}
/*div:nth-of-type(1) p {*/
  /*display: inline;*/
  /*position: relative;*/
  /*top:10px;*/
  /*left:10px;*/
/*}*/
.bold {
  font-weight:bold;
  display:inline;
  position: relative;
  top:10px;
  left:40px;


}
.descripcion {
  margin-left:340px;
}
.logo {
  margin-left: 115px;
}
.test {
  color:#ACA6A6;
  font-size: 30px;
}
.beetrack{
  color:#868686;
  font-size: 30px;
}
.eliminar {
  border:none;
  color:#fab43d;
  position: absolute;
  top: 65px;
  left:115px;
  display:none;
}
.eliminar:hover {
  text-decoration: none;
  color: #f1e326;
}
.derecha {
  float:right;
}
nav {
  grid-column-start: 1;
  grid-column-end: 3;
}
nav ul {
  float:right;
}
.page-item {

}
/*nav ul li a {*/
  /*text-decoration: none;*/
  /*color:#e5e5e5;*/
/*}*/
.pagination>li {

}
 .pagination>li>a {
   color:#ffc107;
   background-color:#e5e5e5;
 }
.page-link:hover {
  text-decoration: none;
  color:#141415;
}

.formulario {
  width:600px;
  height:600px;
  position: absolute;
  top:100px;
  right:-300px;
  z-index: 1;
  background-color: white;
  border:1px solid grey;
  display:inline-block;
}

.agregar-contacto {
  font-size: 25px;
  padding-bottom:20px;
  margin-top: 20px;
  margin-left:20px;

}
form {
  background-color: #f9f9f9;
  margin-left: 20px;

}
form label {
  font-size: 20px;
  margin-top:20px;
}
form input {
  width:500px;
  margin-top:20px;
}
.btn {
  width:80px;
  position: relative;
  left:230px;
}
.descripcion-contact {
  padding:10px;
}
