body {
  margin:0;
  padding:0;
  background-color: #e5e5e5;
}
.container {
  margin-top: 10px;
  display: grid;
  align-content: center;
  grid-template-columns: 400px 700px;
  grid-template-rows: 50px 100px 100px 100px 100px 100px 100px 100px 100px 100px 				  100px 100px 100px 100px;
  grid-template-areas: "details details"
  "nav nav"    ;
  grid-gap:1px;


}
#buscador {
  position: relative;
  left:120px;
}
#crear-contacto {
  position: relative;
  left:867px;
  background-color: #fab43d;
  color:white;
  border-radius: 8%;
}
.container div {
  border: 1px solid grey;
  background-color: white;
  position: relative;
}
.container div:hover .eliminar {
  display:inline;
}

.container div p {
  display: inline;
  position: relative;
}

.container div img {
  position: relative;
  top:5px;
  width:80px;
  height:80px;
  border-radius: 50%;
}
/*	div:nth-of-type(1) {
        grid-area: details;
        box-shadow: 0 10px 100px #E6E6E6;

    }*/
.nombre-descripcion{
  grid-area: details;
  box-shadow: 0 10px 100px #E6E6E6;
}
div:nth-of-type(1) p {
  display: inline;
  position: relative;
  top:10px;
  left:10px;
}
.bold {
  font-weight:bold;
}
.descripcion {
  margin-left:340px;
}
.logo {
  margin-left: 115px;
}
.test {
  color:#ACA6A6;
  font-size: 30px;
}
.beetrack{
  color:#868686;
  font-size: 30px;
}
.eliminar {
  border:none;
  color:#fab43d;
  position: absolute;
  top: 50px;
  left:100px;
  display:none;
}
.eliminar:hover {
  text-decoration: none;
  color: #f1e326;
}
.derecha {
  float:right;
}
nav {
  grid-column-start: 1;
  grid-column-end: 3;
}
nav ul {
  float:right;
}
nav ul li a {
  text-decoration: none;
  color:#949494;
}
.oi-arrow-right, .oi-arrow-left, .oi-magnifying-glass {
  color:orange;
}
.page-link {
  color:#525558;
  background-color: #e5e5e5;
}
.page-link:hover {
  text-decoration: none;
  color:#141415;
}

.oi-plus {
  color:white;
  margin-right:5px;
}
.oi-magnifying-glass {
  position: relative;
  left:120px;
}
.formulario {
  width:600px;
  height:600px;
  position: absolute;
  top:100px;
  left:420px;
  z-index: 1;
  background-color: white;
  border:1px solid grey;
  display:inline;
}

.agregar-contacto {
  font-size: 25px;
  padding-bottom:20px;
  margin-top: 20px;


}
form {
  background-color: #f9f9f9;
}
form label {
  font-size: 20px;
  margin-top:20px;
}
form input {
  width:500px;
  margin-top:20px;
}
.btn {
  width:80px;
  position: relative;
  left:230px;
}